<h2 style="font-style: normal; font-variant: normal;">Controllers</h2>
<div>
    <span id="docs-internal-guid-bc577fa0-940c-5899-cc5e-c8d2c98e8d9d">
        <ul style="margin-top:0pt;margin-bottom:0pt;">
<li dir="ltr" style="list-style-type: disc;">
        <p dir="ltr" style="margin-top: 6pt; margin-bottom: 0pt;">Expose model to view</p>
    </li>
<li dir="ltr" style="list-style-type: disc;">
    <p dir="ltr" style="margin-top: 6pt; margin-bottom: 0pt;">
        <span id="docs-internal-guid-bc577fa0-940d-0233-5423-8258f9e2cd31">Expose functions to handle user interaction</span>
        <br>
    </p>
</li>
<li dir="ltr" style="list-style-type: disc;">
<p dir="ltr" style="margin-top: 6pt; margin-bottom: 0pt;">
    <span>
        <span id="docs-internal-guid-bc577fa0-940d-2718-ef05-ebc088d664ef">Update model to change the view</span>
        <br>
    </span>
</p>
</li>
<li dir="ltr" style="list-style-type: disc;">
<p dir="ltr" style="margin-top: 6pt; margin-bottom: 0pt;">
<span style="vertical-align: baseline;">But also:</span>
</p>
<p dir="ltr" style="margin-top: 6pt; margin-bottom: 0pt;">
<span>
    <span>
        <span id="docs-internal-guid-bc577fa0-940d-64ba-399f-2a0611a65786">
        </span>
    </span>
</span>
</p>
<ul style="margin-top:0pt;margin-bottom:0pt;">
<li dir="ltr" style="list-style-type: disc; vertical-align: baseline;">
<p dir="ltr" style="margin-top: 6pt; margin-bottom: 0pt;">
    <span style="vertical-align: baseline;">Instantiated once per use in your template</span>
</p>
</li>
<li dir="ltr" style="list-style-type: disc; vertical-align: baseline;">
<span style="vertical-align: baseline;">Can request $scope</span>
</li>
</ul>
</li>
</ul>
</span>
</div>