        <h2>Expressions</h2>
<div>
        <ul>
<li>
<span>{{ The expressions should be inside this markup }}</span>
        <br>
</li>
<li>
        <span>It is like JavaScript eval(), but eval'd against your $scope</span>
    </li>
<li>
    <span>No complex logic like loops . etc Though terinary operator is supported<br>
    </span>
</li>
<li>
<span>Examples</span>
</li>
<ul>
<li>
    <span>
<pre><code> person.name

shoppingCart.total()

cart.total() - user.discountRate
</code>    </pre>
</span>
</li>
</ul>
</ul>
</div>