    <section class="" data-id="f8cc23707a815087a7437b64566857a3">
        <h2>$HTTP</h2>
<div style="text-align: left; ">
<ul>
        <li>
<span>In AngularJS,AJAX requests&nbsp;<span style="font-size: 36px; font-style: normal; font-variant: normal;">&nbsp;can send&nbsp;</span>in several different&nbsp;ways. like AJAX,JSONP, REST type calls.</span>
        <br>
</li>
</ul>
<pre><code> $http({method: 'GET', url: '/someUrl'}).
    success(function(data, status, headers, config) {
      // this callback will be called asynchronously
      // when the response is available
    }).
    error(function(data, status, headers, config) {
      // called asynchronously if an error occurs
      // or server returns response with an error status.
    });</code>    </pre>
</div>
<div style="text-align: left;">
    <span>
        <font style="font-size: 24px;">
            <div>
                <ul>
                    <li>
                        <span>success(fn) - Invokes the specified function when the HTTP request has successfully completed</span>
                        <br>
                    </li>
                    <li>
                        <span>error(fn) - Invokes the specified function when the request does not complete successfully</span>
                        <br>
                    </li>
                    <li>
                        <span>then(fn, fn) - Registers a success function and an error function</span>
                        <br>
                    </li>
                </ul>
            </div>
        </font>
    </span>
</div>
</section>
<section class="" data-id="9938d872e37621adb8a60cff22c58e2b">
    <h2>Example</h2>
    <div>
        <img src="http://lostechies.com/gabrielschenker/files/2013/12/image42.png" style="width: 703.091304347826px; height: 241px; max-height: none; max-width: none;">
        <br>
    </div>
</section>