  <section class="" data-id="32f72d8c41b6822ad5a54b6d7e77e188">
        <h2>promise</h2>
<div style="text-align: left; ">
<span>Promises are a way of registering interest in something that will happen &nbsp;asynchronously, such as the response sent&nbsp;</span>
<span>from a server for an Ajax request.</span>&nbsp;<ul>
<ul>
</ul>
<li>A promise is an object with a"then" &nbsp; method<br>
</li>
<li>
<pre><code> promise.then(onSuccess, onFailiure);</code>    </pre>
</li>
</ul>
<p>onSuccess function is called whenever the asynchronous tasks ends successfully and the onFailure function is called if the tasks fails to execute</p>
</div>
</section>
    <section class="" data-id="76bb0ca93f275f7731f837131ee1437b">
        <h2>$q</h2>
        <div style="text-align: left; ">
            <ul>
                <li>In Angular $q service &nbsp;provide deferred and promise implementations.<br>
                </li>
                <li>&nbsp;We can get a new deferred object by calling the defer() function on the $q service.<br>
                </li>
                <li>the deferred object has two methods&nbsp;</li>
                <ul>
                    <li>resolve(…) - used to signal that the task has succeeded<br>
                    </li>
                    <li>reject(…) - used to signal that the task has failed</li>
                </ul>
            </ul>
            <div>
                <br>
            </div>
        </div>
    </section>
    <section class="" data-id="d66e25fcb9fbb20432fbf6ed40f20366">
        <h2>Example</h2>
        <div>
            <img src="http://lostechies.com/gabrielschenker/files/2014/02/image8.png" style="width: 699.139896373057px; height: 516px; max-height: none; max-width: none;">
            <br>
        </div>
    </section>