<section>
              <h1>
              <div style="text-align: center;">
                <img src="img/yeoman-salute.png" style="color: rgb(255, 255, 255); width: 394.2883961518782px; height: 621.3590886917606px; max-height: none; max-width: none;"><span style="color: rgb(255, 255, 255);">&nbsp;</span>
                <br>
              </div>
              </h1>
            </section>
            <section>
              <h1>
              <span><font style="font-size: 112px;">Yo, Yeoman!</font></span><br>
              </h1>
            </section>
            <section>
              <h2>
              <font>
              <span style="font-size: 111.4413070678711px;">Three modern front-end tools</span>
              </font>
              </h2>
              <div>
                <img src="img/toolset.png">
              </div>
            </section>
            <section>
              <h1 style="font-style: normal; font-variant: normal;">
              <font><span style="font-size: 111.4413070678711px;">and conventions on how to use them.</span></font>
              </h1>
            </section>
            <section data-background="img/dog-jumping-rope-70726.gif">
              <h2 style="font-style: normal; font-variant: normal;">
              <font >Before we jump in...</font>
              </h2>
            </section>
            <section>
              <h2>
              <font>Front-end development has grown up.&nbsp;We have a core set of best practices that we try to follow.</font>
              </h2>
            </section>
            <section >
              <h1><font >While developing</font>
              </h1>
            </section>
            <section ><h4><ul>
              <li>
                <span style="text-align: center;">
                <span>Work locally</span><br>
                </span>
                <span >
                (run a local server, don't ftp up to see changes)
                </span><br><br>
              </li>
              <li>
            <span style="text-align: center;"><span>Organize your code in small, distinct parts</span><br>(modules)<br></span><br>
              </li>
              <li>
                <font><span style="text-align: center;"><span>Use preprocessors when they make life easier</span><br><font >&nbsp;(Sass → CSS, maybe Coffee → JS)</font><br></span><br></font>
              </li>
              <li>
                <font><span style=" text-align: center;"><span>Livereload your files during development </span><br><font >(save precious seconds you can spend not working)</font><br></span><br></font>
              </li>
              <li>
                <font><span style=" text-align: center;"><span>Version control your source files</span><br><font >(seriously)</font><br></span><br></font>
              </li>
              <li>
                <font><span style="text-align: center;"><span>Lint your code&nbsp;<br></span><span style="text-align: center;"><font >(enforce a uniform coding standard)</font></span></font>
              </li>
            </ul></h4>
            </section>
          <section >
            <h1><font >Before deploying</font></h1>
          </section>
          <section ><h3><ul>
            <li>
              <span style="font-weight: bold; text-align: center;"><span style="font-size: 39.525px;">Minify everything!</span><br><font style="font-size: 32px;">(deployed code is for computers, not people)</font><br></span><br>
            </li>
            <li><span style="font-weight: bold;text-align: center;">Concatenate<span style="font-size: 39.525px;">&nbsp;everything!</span><br><font style="font-size: 32px;">(slow connections hate http requests)</font><br><br></span></li>
            <li>
              <span style="font-weight: bold; text-align: center;"><span style="font-size: 39.525px;">Set assets to far future expires and bust the user's cache only when they change</span><br><font style="font-size: 32px;">(the fastest downloads are the ones that don't happen)</font><br></span><br>
            </li>
            <li>
              <span style="font-weight: bold; text-align: center;"><span style="font-size: 39.525px;">Run tests before every deploy</span><br><font style="font-size: 32px;">(don't break the build)</font></span><br>
            </li>
          </ul></h3>
        </section>
         <section>
          <h2>Yoeman</h2>
         <img src="img/yeoman-generators.png" />
        </section>
        <section>
          <h2>
              Yeoman is a set of node.js tools and conventions for developing front-end applications.
              Yo, Grunt, and Bower are command line tools.
          </h2>
          <img src="img/toolset.png">
        </section>
        <section>
          <h2>It provides a workflow, development environment, and build system for single page apps and static sites.</h2>
          <img src="img/square-generators.png">
        </section>
        <section>
          <h2 >             
              Yo, Grunt, and Bower are command line tools.
          </h2>          
        </section>
        <section>
          <h2>
              <span>Yo runs the generators that scaffold your project.<br><br><br></span>
          </h2>
          <h3>
           <span> Fill in a few choices and it creates all of the boilerplate you need to get started, including Grunt and Bower configuration.<br><br><br></span>
          </h3>
          <h3>
          <span>  Everything you set up at the beginning of a project? Yo and generators do that for you now.</span>
          </h3>
        </section>
        <section data-background="img/listofgenerators.png">
        </section>
        <section>
          <h4>Installing Yeoman</h4>
          <br>
          <h2>npm install -g yo</h2>
        </section>
         <section>
          <h4>Basic scaffolding</h4>
          <br>
          <h2 style="white-space: nowrap"><span>npm install -g generator-angular<span></h2>
        </section>
          <section>
          <h3>To start an angular Project</h4>
          <br>
          <h4>Create your new project directory and run below the command</h4>
          <br>
          <h2>yo angular</h2>
        </section>
        <section>
          <img src="img/bower.png"/>
          <h2>Manage Front-End Packages</h2>
        </section>
        <section>
          <h2>Bower</h2>
          <br>
          <h4>Bower is a package manager for the web which allows you to easily manage dependencies for your projects. This includes assets such as JavaScript, images and CSS</h4>
        </section>
        <section>
          <h4>Managing packages using Bower</h4>
          <br>
          <h2><span>bower install &ltdep&gt </span> <br>
              <span> bower update &ltdep&gt </span> 
          </h2>
        </section>
        <section>
          <h4>bower.json</h4>
          <img src="img/bowerjson.png"/>
        </section>
        <section>
          <img src="img/grunt.png" />
          <h2>Automate Tasks</h2>
        </section>
        <section>
          <h2>Grunt</h2>
          <br>
          <h3><b>Grunt is the heart of Yeoman - what you're actually using most of the time</b></h3>
          <br>
          <h4>It's a "JavaScript task runner".</h4>
        </section>
        <section>
          <h4> Grunt Commands<h4>
          <br>
          <h2>grunt serve</h2>
          <br>
          <h2>grunt test</h2>
          <br>
          <h2>grunt run</h2>
        </section>
        <section>
          <h4>Yeoman Gruntfiles include a SERVE task:</h4>
          <img src="img/gruntjs.png" />
        </section>
        <section>
          <h4>Getting started with Yeoman and generator-webapp<h4>
            <br>
          <h4>by Addy Osmani </h4>
           <iframe width="853" height="480" src="//www.youtube.com/embed/zBt2g9ekiug" frameborder="0" allowfullscreen>
           </iframe>
        </section>